.common-todo__container{
    &.add-todo__container {
        padding: 10px 40px;
        flex: 0.7;
        border-right: 1px solid #000;
        @media screen and(max-width:767px) {
            padding: 10px;
            border-right: unset;
        }
    }
    > h2 {
        font-size: 18px;
        color: #000;
        padding: 20px 0;
        font-weight: bold;
        text-align: center;
    }
}

