.common-todo__container {
    &.list-todo__container {
        padding: 10px 40px;
        flex: 1;
        display: flex;
        flex-direction: column;
        @media screen and(max-width:767px) {
            padding: 10px;
        }
        f-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            row-gap: 20px;
        }
        .form__content {
            display: grid;
            row-gap: 20px;
            > input {
                padding: 10px;
                background: #ffffff;
                border: 1px solid #bdbdbd;
                border-radius: 5px;
            }
            .each-task {
                &__content {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 15px 10px;
                    border: 1px solid #000000;
                    .input {
                        display: flex;
                        align-items: center;
                        column-gap: 10px;
                        input {
                            height: 20px;
                            width: 20px;
                            margin: unset;
                            cursor: pointer;
                        }
                        span {
                            font-size: 16px;
                            color: #333;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            max-width: 300px;
                            @media screen and(max-width:991px) {
                                max-width: 100px;
                            }
                            @media screen and(max-width:767px) {
                                max-width: 50px;
                            }
                        }
                    }
                    .function {
                        display: flex;
                        column-gap: 20px;
                        @media screen and(max-width:525px) {
                            column-gap: 5px;
                        }
                        button {
                            height: 27px;
                            font-size: 12px;
                            border: none;
                            border-radius: 10px;
                            width: 90px;
                            color: #fff;
                            cursor: pointer;
                            @media screen and(max-width:525px) {
                                width: 60px;
                            }
                            &.--detail {
                                background: #00bcd4;
                            }
                            &.--remove {
                                background: #d9534f;
                            }
                        }
                    }
                }
                &__detail {
                    padding: 20px;
                    border-color: #000;
                    border-width: 0 1px 1px;
                    border-style: solid;
                    .common__content {
                        padding-bottom: 20px;
                    }
                }
            }
        }
        .bulk-action {
            bottom: 0;
            height: 80px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: 1px solid #000000;
            padding: 0 20px;
            span {
                font-size: 15px;
                color: #333;
            }
            b-function {
                display: flex;
                column-gap: 20px;
                button {
                    height: 35px;
                    width: 100px;
                    font-size: 12px;
                    color: #fff;
                    border: unset;
                    border-radius: 10px;
                    cursor: pointer;
                    &.--done {
                        background: #2196f3;
                    }
                    &.--remove {
                        background: #d9534f;
                    }
                }
            }
        }
    }
}
