.common__content {
    display: grid;
    row-gap: 20px;
    padding-bottom: 50px;
    > input {
        padding: 10px;
        background: #ffffff;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        &.error{
            border: 2px solid red;
        }
    }
    label {
        font-size: 12px;
        font-weight: bold;
    }
    .gr {
        display: grid;
        row-gap: 5px;
        textarea {
            padding: 5px;
        }
    }
    .select-part {
        display: flex;
        column-gap: 20px;
        > .common-style {
            display: grid;
            row-gap: 5px;
        }
        &__day {
            flex: 1;
            span {
                &.e-date-wrapper {
                    display: flex;
                    border-width: 1px;
                    border-color: #000000 !important;
                    margin: unset;
                    input {
                        padding: 0 10px;
                        border-right: 1px solid #000;
                    }
                }
            }
        }
        &__status {
            flex: 1;
            select {
                padding: 6px 10px;
                background: #ffffff;
                border: 1px solid #000000;
            }
        }
    }
}
button {
    &.--add,&.--update {
        width: 100%;
        background: #5cb85c;
        border: none;
        border-radius: 10px;
        font-size: 15px;
        height: 32px;
        color: #fff;
        cursor: pointer;
    }
}
