h1,
h2 {
    padding: 0;
    margin: 0;
}
textarea:focus,
input:focus {
    outline: none;
}
@import url("https://cdn.syncfusion.com/ej2/material.css");
@import "./components/common/common.scss";
.app {
    max-width: 1210px;
    margin: 50px auto;
    border: 1px solid #000;
    display: flex;
    @media screen and(max-width:767px) {
        display: grid;
        row-gap: 20px;
    }
}
